

.barColor{
	color: #383533 !important;
	background-color: #EBEBEB;
}


.btn-warning {
    color: #ffffff;
    background-color: inherit;
    border-color: #ffc107;
}

.jumbotron{
	background-image: url(../img/heroBannerImg.jpg);
	 height: 444px;
	 border-radius: 0;
}


@media (min-width: 1200px){
.container {
    max-width: 100%;
        padding-right: 0px;
    padding-left: 0px;
}

}

.containerTestimonial {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.steps{

	padding: 60px;
	padding-top: 30px;

}

.oCircle{
	margin: 74px auto 10px;
    color: white;
    width: 37px;
    background-color: orange;
    border-radius: 50%;
}


.secondCircle{
	margin: 0px auto 10px;
    color: white;
    width: 37px;
    background-color: orange;
    border-radius: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 16% auto 16%;
  /*grid-gap: 10px;*/
  background-color: #fff;
  color: #444;
}

.boxW {
  display: grid;
  grid-template-columns: 50% 50%;
  /*grid-gap: 10px;*/
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #ffffff;
  color: #b2b2b2;
  /*border-radius: 5px;*/
  padding: 20px;
  font-size: 150%;
}

.boxS {
  background-color: #ffffff;
  color: #b2b2b2;
  /*border-radius: 5px;*/
  padding: 20px;
  font-size: 150%;
}

.box>h3,p{
	font-size: 13px;

}

.b{
	grid-column: 2;
    grid-row: 1 / 3;
    background-color: white;
    background-image: url(../img/lapPasos.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 467px;
}


.f{
	grid-column: .5;
	grid-row: 3;

}

.g{
	grid-column: .5;
	grid-row: 3;

}



.divisionsRow{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  /*  margin-right: -15px;
    margin-left: -15px;*/
}


.freeTrial{
	background-color: #eeeeee;
    padding-bottom: 1%;
    padding-top: 2%;
   padding-left: 10%;
    padding-right: 7%;
}

.freePadding{

	padding-top: 29px;
}



.album{
	width: 80%;
	margin: 0 auto;
	background-color: white !important;
}








/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}













































