footer{
	color: white;
	background-color: #181E25;
	padding-left: 40px;
    padding-right: 40px;
}


body{
	/*background-color: #383533;*/
}

.barColor{
	color: #383533 !important;
	background-color: #EBEBEB;
}


.fontColor{
	color: #FF6D00;
}

.btn-warning {
    color: #ffffff;
    /*background-color: inherit;*/
    border-color: #FF6D00;
}

.btn-outline-warning{
	border-color: #FF6D00 !important;
	color:  #FF6D00 !important;
}

.btn-outline-warning:hover{

	background-color: #FF6D00 !important;
	color:  #FFffff !important;

}

.jumbotron{
	padding-left: 8rem !important;
	background-image: url(../img/heroBannerImg.jpg);
	height: 444px;
	border-radius: 0;
}


@media (min-width: 1200px){
.container {
    /*max-width: 100%;*/
        padding-right: 0px;
    padding-left: 0px;
}
.jumboConteiner{
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}


}

.containerTestimonial {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.steps{

	padding: 60px;
	padding-top: 30px;

}

.oCircle{
	margin: 74px auto 10px;
    color: white;
    width: 37px;
    background-color: #FF6D00;
    border-radius: 50%;
}


.secondCircle{
	margin: 0px auto 10px;
    color: white;
    width: 37px;
    background-color: #FF6D00;
    border-radius: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 16% auto 16%;
  /*grid-gap: 10px;*/
  background-color: #fff;
  color: #444;
}

.boxW {
  display: grid;
  grid-template-columns: 50% 50%;
  /*grid-gap: 10px;*/
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #ffffff;
  color: #b2b2b2;
  /*border-radius: 5px;*/
  padding: 20px;
  font-size: 150%;
}

.boxS {
  background-color: #ffffff;
  color: #b2b2b2;
  /*border-radius: 5px;*/
  padding: 20px;
  font-size: 150%;
}

.box>h3,p{
	font-size: 13px;

}

.b{
	grid-column: 2;
    grid-row: 1 / 3;
    background-color: white;
    background-image: url(../img/lapPasos.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 467px;
}


.f{
	grid-column: .5;
	grid-row: 3;

}

.g{
	grid-column: .5;
	grid-row: 3;

}



.divisionsRow{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  /*  margin-right: -15px;
    margin-left: -15px;*/
}


.freeTrial{
	background-color: #eeeeee;
    padding-bottom: 1%;
    padding-top: 2%;
   padding-left: 10%;
    padding-right: 7%;
}

.freePadding{

	padding-top: 29px;
}


.comilla{
	margin-bottom: 7px;
}


.album{
	/*width: 80%;*/
	margin: 0 auto;
	background-color: #fafafa !important;
}




.card{
	border: 0px solid rgba(0,0,0,.125) !important;
    border-radius: 0 !important;
    max-width: 300px;
}

.card>hr {
    margin-right: 10px;
    margin-left: 10px;
}


.topMarginator{
	margin-top: 30px;
}



.ctaToghether{	
	color: white;
    height: 290px;
	text-align: center;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: .0rem;
    background-image: none;
    background-color: #FF6D00;
    padding-left: inherit !important;
}

.ctaToghether>.display-4{
	font-size: 45px;
	text-transform: uppercase;
}

.btn-light{
	color: #FF6D00;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}













































